<!DOCTYPE html>
<html>
<head>
	<title>Kwabena Antwi</title>
	<link rel="stylesheet" type="text/css" href="scss/application.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


	<header id="main_navigation" class="clearfix">
	<%= link_to 'Kwabena Antwi', root_path, class: "name" %>
		<nav navbar navbar-default navbar-static-top">
			<div class="container">
				<%= link_to 'Articles', posts_path %>
				<%= link_to 'Projects', projects_path %>
				<a href="contact.html">Contact</a>
			</div>
		</nav>
		
	</header>

<% if notice %>
	<p class="notice"><%= notice %></p>
<% elsif alert %>
	<p class="alert"><%= alert %></p>	
<% end %>
<%= yield %>

	<footer id="main_footer">
	<p class="copyright"> &copy; Kwabena Antwi</p>
		<nav>
			<a href="http://twitter.com/antwikwabena98" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="http://twitter.com/antwikwabena98"  target="_blank"><i class="fa fa-facebook"></i></a>
			<a href="https://www.linkedin.com/in/kwabena-antwi-417305120/" target="_blank"><i class="fa fa-linkedin"></i></a>
		</nav>
	</footer>
</body>
</html>
